@import url(http://weloveiconfonts.com/api/?family=entypo);

%btn {
  padding: 10px;
  background: transparent;
  width: 130px;
  border: 2px dotted $blue;
  margin: 3px 3px;
  font-family: $text-font-family;
  color: $white;
  height: 40px;
  @include transition-property(background);
  @include transition-property(border-color);
  @include transition-duration(0.5s);
  font:{
    family: sans-serif;
    weight: 800;
    size: .8em;
  }
  font-family: entypo;
  text:{
    transform: uppercase;
    decoration: none;
  }
  &:hover {
    margin: 0;
    background: $blue;
    border: 5px solid grey;
    height: 46px;
    width: 136px;
  }
}
