$bg-color: #404040;
$white: #ffffff;

$blue: #00EBCE;
$light-blue: #00BBA4;
$text-color: #ccc;

$text-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$title-font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
