@import "susy";

$total-columns: 12;
$column-width: 54px;
$gutter-width: 30px;
$grid-padding: $gutter-width;

#main-layout {
  section {
    @include span-columns(12,12);
    min-width: $total-columns * ($column-width + $gutter-width);
  }
}
