
section {
  //background-color: #ccc;

  .title {
    background-color: $bg-color;
    color: $white;
    text-transform: upcase;
    border-left: 10px solid $green;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }
  .content {
    margin: 20px;
  }
}
