body {
  background-color: black;
  font-family: $text-font-family;
  font-weight: 300;
  color: $text-color;
}

section#welcome {
  margin-top: 0px;
  background-color: $blue;
  color: $bg-color;
  text-align: center;
  font-size: 30px;
  font-family: $title-font-family;
}

section#play-media {
  .content {
    text-align: center;
    p { text-align: left; }
    input {
      font-family: $text-font-family;
      height: 30px;
      width: 500px;
      margin-right: 30px;
    }
    button {
      @extend %btn;
      font-family: $text-font-family;
    }
  }
}


section#epic-buttons {
  label {
    font-size: 26px;
    margin: 0 10px 0 20px;
  }
  input {
    font-family: $text-font-family;
    height: 30px;
    width: 130px;
    margin-right: 30px;
  }
  button {
    @extend %btn;
    width: 160px;
    margin: 20px;
    font-family: $text-font-family;
    &:hover {
      width: 166px;
      margin: 17px;
      font-family: $text-font-family;
    }
  }
}

section#say {
  .content {
    text-align: center;
    p.subtitle { text-align: left; }
    textarea {
      font-family: $text-font-family;
      width: 800px;
      height: 100px;
    }
    p.say-interface {
      margin-top: 20px;
      font-size: 15px;
      button {
        @extend %btn;
        font-family: $text-font-family;
      }
      select {
        @extend %btn;
        background-color: $bg-color;
        font-family: $text-font-family;
      }
    }
  }
}


#footer-content {
  margin-top: 30px;
  padding: 30px;
  font-family: $title-font-family;
  font-size: 20px;
  background-color: black;
  color: $white;
  .right {
    text-align: right;
    ul {
      @include horizontal-list;
      li {
        margin-right: 15px;
        a {
          color: rgb(151, 151, 209);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
