#main-layout {
  padding-left: 10px;
}

body {
  background-color: black;
  font-family: $text-font-family;
  font-weight: 300;
  color: $text-color;
  a.github img { z-index: 2;  }
}

header#welcome {
  height: 240px;
  padding-top: 80px;
  margin-top: 0px;
  background-color: $blue;
  color: $bg-color;
  text-align: center;
  font-size: 30px;
  font-family: $title-font-family;
  h1 { margin: 0 0 20px 0; }
  h2 {margin: 0; }
}

#menu {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  #section-menu ul {
    @include inline-block-list;
    height: 50px;
    padding-top: 15px;
    li {
      a {
        cursor: pointer;
        margin-left: 0;
        text-decoration: none;
        color: $white;
        font-family: $title-font-family;
        font-size: 28px;
        margin-left: 30px;
      }
      &:first-child a#menu-open {
        margin-left: 10px;
        font-family: Flaticon;
      }
    }
  }
}

#footer-content {
  margin-top: 30px;
  padding: 30px;
  font-family: $title-font-family;
  font-size: 20px;
  background-color: black;
  color: $white;
  .right {
    text-align: right;
    ul {
      @include horizontal-list;
      li {
        margin-right: 15px;
        a {
          color: rgb(151, 151, 209);
          text-decoration: none;
          &:hover { text-decoration: underline;
          }
        }
      }
    }
  }
}
