@charset "utf-8";

@import "compass";
@import "colors";
@import "mixins";
@import "buttons";
@import "grid";

body {
  background-color: $bg-color;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

section#epic-buttons {

  button {
    margin: 20px;
    @include button($green, false, 'danger');
  }
}
