%header#welcome
  %h1 Welcome to Relajo web
  %h2 Your f*cking best choice
#menu
  %nav#section-menu
    %ul
      %li
        %a.flaticon-menu10#menu-open(ng-click="$parent.appMenu = 'active'" ng-class="$parent.appMenu")
        %a.flaticon-cross5#menu-close(ng-click="$parent.appMenu = ''" ng-class="$parent.appMenu")
      %li
        %a(href="#play-media" animate-scroll)
          Play media
      %li
        %a(href="#epic-buttons" animate-scroll)
          Epic buttons
      %li
        %a(href="#say" animate-scroll)
          Say

%section#play-media
  .title Play media
  .content
    %form(ng-submit="mPlay(mediaUrl)")
      %p This allows you to play urls «on the fly»
      .play-interface
        %input.play-media(ng-model="mediaUrl")
        %input#play(type="submit" value="Play")
        %a#stop(ng-click="mStop()") Stop

%section#epic-buttons
  .title Epic buttons
  .content
    %form#bSubmit(ng-submit="(bPlay(buttonsFiltered[0].url))")
      %label{for: "#search-button"}
        Search Button:
      %input#search-button(type="text" ng-model="search.label")
    %button(ng-repeat="button in buttonsFiltered = (buttons | filter:search)" ng-click="bPlay(button.url)")
      {{button.label}}

    #add-button
      %ng-form
        %input.label{"ng-model" => "button.label", :placeholder => "Label", :type => "text"}
        %input.url{"ng-model" => "button.url", :placeholder => "URL", :type => "text"}
        %button(ng-click="addButton()") Add button

%section#say
  .title Say
  .content
    %form(ng-submit="sPlay(sText, sLang)")
      %label.subtitle(for="say-text") This is the say
      %textarea#say-text(ng-model="sText")
      %p.say-interface
        %select.language(ng-model="sLang" ng-init="sLang = 'es'")
          %option{value: 'es'} Spanish
          %option{value: 'en'} English
        %input(type="submit" value="Say")
