%header#welcome
  %h1 Welcome to Relajo web
  %h2 Your f*cking best choice
#menu
  %nav#section-menu
    %ul
      %li
        %a.flaticon-menu10#menu-open(ng-click="$parent.appMenu = 'active'" ng-class="$parent.appMenu")
        %a.flaticon-cross5#menu-close(ng-click="$parent.appMenu = ''" ng-class="$parent.appMenu")

%section
  .title Work in progress
  .content
