@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 5, /mnt/coding/relajoapp.github.io/source/stylesheets/_mixins.css.scss */
section .title {
  background-color: #404040;
  color: white;
  text-transform: upcase;
  border-left: 10px solid #99ff99;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 20px; }
/* line 15, /mnt/coding/relajoapp.github.io/source/stylesheets/_mixins.css.scss */
section .content {
  margin: 20px; }

/*
================
The Icon-object™
================

The Icon-Object™ that holds the unicode entities for our icons, so we can reference them by name instead of looking up the hex code every time we need one.
*/
/*
Color variables are imported from another pen, just to make stuff easier to read
*/
/*
=======================
The Button Mixin.======
=======================

=It takes 3 arguments:=
- the background-color ($bg),
in our case we will pass it the color vars we defined above.

- the icon ($icon),
takes one of the named icons from the Icon-Object™

- the icon position ($iconPosition)
Vald values are 'left' and 'right'
*/
/*
=And does fancy stuff=
1. Figure out the lightness of the passed background-color via the lightness() function and set either a dark or a light text color.

2. Loop over the Icon-Object™ until the name matches the passed $icon parameter and then

  2.1 If $iconPosition == right select the :after element and set the corresponding unicode entity as the 'content' value.
*/
/* line 123, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
.danger {
  padding: 10px 20px;
  padding-right: 3.5em;
  color: #ffb3b3;
  display: inline-block;
  background: red;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #db0000;
  position: relative; }
  /* line 63, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .danger:hover, .danger:focus {
    background: #e60000;
    color: #ffcccc; }
  /* line 74, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .danger:after {
    content: "\26A0";
    right: 1.5em; }
  /* line 107, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .danger:before, .danger:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .danger:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .danger:hover, .danger:focus {
    box-shadow: 0 0 0 5px #ff6666; }

/* line 124, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
.signup {
  padding: 10px 20px;
  padding-left: 3.5em;
  color: #b3b3ff;
  display: inline-block;
  background: blue;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #0000db;
  position: relative; }
  /* line 63, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .signup:hover, .signup:focus {
    background: #0000e6;
    color: #ccccff; }
  /* line 82, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .signup:before {
    content: "\2713";
    left: 1.5em; }
  /* line 107, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .signup:before, .signup:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .signup:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .signup:hover, .signup:focus {
    box-shadow: 0 0 0 5px #6666ff; }

/* line 125, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
.save {
  padding: 10px 20px;
  padding-right: 3.5em;
  color: #33ff33;
  display: inline-block;
  background: green;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #005c00;
  position: relative; }
  /* line 63, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .save:hover, .save:focus {
    background: #006700;
    color: #4dff4d; }
  /* line 74, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .save:after {
    content: "\1F4BE";
    right: 1.5em; }
  /* line 107, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .save:before, .save:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .save:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .save:hover, .save:focus {
    box-shadow: 0 0 0 5px #00e600; }

/* line 128, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
.power {
  padding: 10px 20px;
  color: #ffffb3;
  display: inline-block;
  background: yellow;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #dbdb00;
  position: relative; }
  /* line 63, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .power:hover, .power:focus {
    background: #e5e600;
    color: #ffffcc; }
  /* line 107, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .power:before, .power:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .power:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  .power:hover, .power:focus {
    box-shadow: 0 0 0 5px #ffff66; }

/*
Base Styles
*/
/* line 133, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
.demo a {
  margin: 1em; }

/* line 9, /mnt/coding/relajoapp.github.io/source/stylesheets/_grid.css.scss */
#main-layout section {
  width: 100%;
  float: left;
  margin-right: 3.06748%;
  display: inline;
  min-width: 1008px; }

/* line 9, /mnt/coding/relajoapp.github.io/source/stylesheets/screen.css.scss */
body {
  background-color: #404040;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

/* line 17, /mnt/coding/relajoapp.github.io/source/stylesheets/screen.css.scss */
section#epic-buttons button {
  margin: 20px;
  padding: 10px 20px;
  padding-right: 3.5em;
  color: #509550;
  display: inline-block;
  background: #99ff99;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #75ff75;
  position: relative; }
  /* line 56, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:hover, section#epic-buttons button:focus {
    background: #80ff80;
    color: #478547; }
  /* line 74, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:after {
    content: "\26A0";
    right: 1.5em; }
  /* line 107, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:before, section#epic-buttons button:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/coding/relajoapp.github.io/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:hover, section#epic-buttons button:focus {
    box-shadow: 0 0 0 5px white; }
