@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 2, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_mixins.css.scss */
section {
  padding-top: 30px;
  background-color: #404040; }
  /* line 6, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_mixins.css.scss */
  section .title {
    background-color: #404040;
    color: white;
    text-transform: upcase;
    border-left: 10px solid #00ebce;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px; }
  /* line 17, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_mixins.css.scss */
  section .content {
    margin: 20px;
    font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    /* line 18, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_mixins.css.scss */
    section .content p {
      font-size: 18px; }

/*
================
The Icon-object™
================

The Icon-Object™ that holds the unicode entities for our icons, so we can reference them by name instead of looking up the hex code every time we need one.
*/
/*
Color variables are imported from another pen, just to make stuff easier to read
*/
/*
=======================
The Button Mixin.======
=======================

=It takes 3 arguments:=
- the background-color ($bg),
in our case we will pass it the color vars we defined above.

- the icon ($icon),
takes one of the named icons from the Icon-Object™

- the icon position ($iconPosition)
Vald values are 'left' and 'right'
*/
/*
=And does fancy stuff=
1. Figure out the lightness of the passed background-color via the lightness() function and set either a dark or a light text color.

2. Loop over the Icon-Object™ until the name matches the passed $icon parameter and then

  2.1 If $iconPosition == right select the :after element and set the corresponding unicode entity as the 'content' value.
*/
/* line 123, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
.danger {
  padding: 10px 20px;
  padding-right: 3.5em;
  color: #ffb3b3;
  display: inline-block;
  background: red;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #db0000;
  position: relative; }
  /* line 63, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .danger:hover, .danger:focus {
    background: #e60000;
    color: #ffcccc; }
  /* line 74, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .danger:after {
    content: "\26A0";
    right: 1.5em; }
  /* line 107, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .danger:before, .danger:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .danger:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .danger:hover, .danger:focus {
    box-shadow: 0 0 0 5px #ff6666; }

/* line 124, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
.signup {
  padding: 10px 20px;
  padding-left: 3.5em;
  color: #b3b3ff;
  display: inline-block;
  background: blue;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #0000db;
  position: relative; }
  /* line 63, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .signup:hover, .signup:focus {
    background: #0000e6;
    color: #ccccff; }
  /* line 82, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .signup:before {
    content: "\2713";
    left: 1.5em; }
  /* line 107, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .signup:before, .signup:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .signup:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .signup:hover, .signup:focus {
    box-shadow: 0 0 0 5px #6666ff; }

/* line 125, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
.save {
  padding: 10px 20px;
  padding-right: 3.5em;
  color: #33ff33;
  display: inline-block;
  background: green;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #005c00;
  position: relative; }
  /* line 63, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .save:hover, .save:focus {
    background: #006700;
    color: #4dff4d; }
  /* line 74, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .save:after {
    content: "\1F4BE";
    right: 1.5em; }
  /* line 107, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .save:before, .save:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .save:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .save:hover, .save:focus {
    box-shadow: 0 0 0 5px #00e600; }

/* line 128, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
.power {
  padding: 10px 20px;
  color: #ffffb3;
  display: inline-block;
  background: yellow;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #dbdb00;
  position: relative; }
  /* line 63, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .power:hover, .power:focus {
    background: #e5e600;
    color: #ffffcc; }
  /* line 107, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .power:before, .power:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .power:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  .power:hover, .power:focus {
    box-shadow: 0 0 0 5px #ffff66; }

/*
Base Styles
*/
/* line 133, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
.demo a {
  margin: 1em; }

/* line 9, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_grid.css.scss */
#main-layout section {
  width: 100%;
  float: left;
  margin-right: 3.06748%;
  display: inline;
  min-width: 1008px; }

/* line 16, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_grid.css.scss */
footer #footer-content {
  width: 100%;
  float: left;
  margin-right: 3.06748%;
  display: inline;
  min-width: 1008px;
  height: 50px; }
  /* line 20, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_grid.css.scss */
  footer #footer-content .left {
    width: 48.46626%;
    float: left;
    margin-right: 3.06748%;
    display: inline; }
  /* line 23, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_grid.css.scss */
  footer #footer-content .right {
    width: 48.46626%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline; }

/* line 9, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
body {
  background-color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #cccccc; }

/* line 16, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
section#welcome {
  margin-top: 0px;
  background-color: #00ebce;
  color: #404040;
  text-align: center;
  font-size: 30px;
  font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 27, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
section#epic-buttons button {
  margin: 20px;
  padding: 10px 20px;
  color: #9ffff3;
  display: inline-block;
  background: #00ebce;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.2em solid #00c7af;
  position: relative;
  font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #404040;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 63, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:hover, section#epic-buttons button:focus {
    background: #00d2b8;
    color: #b8fff6; }
  /* line 107, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:before, section#epic-buttons button:after {
    display: inline-block;
    font-family: entypo;
    position: absolute; }
  /* line 113, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:active {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  /* line 116, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/_buttons.css.scss */
  section#epic-buttons button:hover, section#epic-buttons button:focus {
    box-shadow: 0 0 0 5px #52ffea; }

/* line 36, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
#footer-content {
  margin-top: 30px;
  padding: 30px;
  font-family: "Rancho", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  background-color: black;
  color: white; }
  /* line 43, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
  #footer-content .right {
    text-align: right; }
    /* line 45, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
    #footer-content .right ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      /* line 60, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
      #footer-content .right ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 48, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        #footer-content .right ul li:first-child, #footer-content .right ul li.first {
          padding-left: 0; }
        /* line 49, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        #footer-content .right ul li:last-child {
          padding-right: 0; }
        /* line 50, /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
        #footer-content .right ul li.last {
          padding-right: 0; }
      /* line 47, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
      #footer-content .right ul li {
        margin-right: 15px; }
        /* line 49, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
        #footer-content .right ul li a {
          color: #9797d1;
          text-decoration: none; }
          /* line 52, /mnt/volumes/coding/content/coding/relajo-web/source/stylesheets/screen.css.scss */
          #footer-content .right ul li a:hover {
            text-decoration: underline; }
