<header id='welcome'>
  <h1>Welcome to Relajo web</h1>
  <h2>Your f*cking best choice</h2>
</header>
<div id='menu'>
  <nav id='section-menu'>
    <ul>
      <li>
        <a class='flaticon-menu10' id='menu-open' ng-class='$parent.appMenu' ng-click="$parent.appMenu = 'active'"></a>
        <a class='flaticon-cross5' id='menu-close' ng-class='$parent.appMenu' ng-click="$parent.appMenu = ''"></a>
      </li>
    </ul>
  </nav>
</div>
<section>
  <div class='title'>Work in progress</div>
  <div class='content'></div>
</section>
