%section#play-media
  .title Play media
  .content
    %p This allows you to play urls «on the fly»
    .play-interface
      %input.play-media
      %button#play Play
      %button#stop Stop

%section#epic-buttons
  .title Epic buttons
  .content(ng-controller="ButtonsController")
    %form#bSubmit
      %label{for: "#search-button"}
        Search Button:
      %input#search-button(type="text" ng-model="search.label")
    %button(ng-repeat="button in buttons | filter:search" ng-click="bClick(button.url)")
      {{button.label}}

    #add-button
      %ng-form
        %input.label{"ng-model" => "button.label", :placeholder => "Label", :type => "text"}
        %input.url{"ng-model" => "button.url", :placeholder => "URL", :type => "text"}
        %button(ng-click="addButton()") Add button

%section#say
  .title Say
  .content
    %p.subtitle This is the say
    %textarea.say
    %p.say-interface
      %select.language
        %option{value: 'es'} Spanish
        %option{value: 'en'} English
      %button Say
