%section#welcome
  %h1 Welcome to Relajo web
  %h2 Your f*cking best choice

%section#play-media
  .title Play media
  .content
    %p This allows you to play urls «on the fly»
    .play-interface
      %input.play-media
      %button#play Play
      %button#stop Stop

%section#epic-buttons
  .title Epic buttons
  .content(ng-controller="ButtonsController")
    %p These are the epic buttons
    %form#bSubmit
      %label{for: "#search-button"}
        Search Button:
      %input#search-button(type="text" ng-model="search.name")
    %button(ng-repeat="button in buttons | filter:search" ng-click="bClick(button.url)")
      {{button.name}}

%section#say
  .title Say
  .content
    %p.subtitle This is the say
    %textarea.say
    %p.say-interface
      %select.language
        %option{value: 'es'} Spanish
        %option{value: 'en'} English
      %button Say
