%section#welcome
  %h1 Welcome to Relajo web
  %h2 Your f*cking best choice

%section#play-media
  .title Play media
  .content
    %p This allows you to play urls «on the fly»
    %input.play-media
    %button#play Play
    %button#stop Stop
    -#%iframe{src:"http://mplayerjs.herokuapp.com"}

%section#epic-buttons
  .title Epic buttons
  .content
    %p These are the epic buttons
